<div class="form-inline col-md-offset-2 col-md-10 mb-20">
  <div class="form-group">
    <%= f.input :product_id, collection: @products, label: t(".product") %>
  </div> -
  <div class="form-group">
    <%= f.input :start_date, as: :date, label: t(".start_date") %>
  </div> -
  <div class="form-group">
    <%= f.input :end_date, as: :date, label: t(".end_date") %>
  </div>
</div>
