<%= provide :button_text, t(".update") %>
<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="page-header title"><%= t ".edit_category" %></h2>
      </div>
    </div>
  </div>
  <%= render "form" %>
</div>
