<%= provide :button_text, t(".create") %>
<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 mt-30">
        <h2 class="page-header title"><%= t ".add_product" %></h2>
      </div>
    </div>
  </div>
  <%= render "form" %>
</div>
