$black: #000;
$blue: #00f;
$gray: #bdbdbd;
$royal-blue: #ccc;
$slate-blue: #36c;
$snow: #93a3b5;
$white: #fff;
$green: #0f0;
$azure: #555;
$slate-red: #f7544a;
$royal-red: #e53935;
$red: red;
$snow-white: #e1e1e1;
