@import 'colors';

body {
  font-size: 14px;
}

.mt-0{margin-top:0px;}
.mt-5{margin-top:5px;}
.mt-10{margin-top:10px;}
.mt-15{margin-top:15px;}
.mt-20{margin-top:20px;}
.mt-30{margin-top:30px;}
.mt-50{margin-top:50px;}
.mb-0{margin-bottom:0px;}
.mb-5{margin-bottom:5px;}
.mb-10{margin-bottom:10px;}
.mb-15{margin-bottom:15px;}
.mb-20{margin-bottom:20px;}
.mb-30{margin-bottom:30px;}
.mr-5{margin-right:5px;}
.mr-10{margin-right:10px;}
.mr-15{margin-right:15px;}
.mr-20{margin-right:20px;}
.mr-30{margin-right:30px;}
.ml-5{margin-left:5px;}
.ml-10{margin-left:10px;}
.ml-15{margin-left:15px;}
.ml-20{margin-left:20px;}
.ml-30{margin-left:30px;}

.fl{float: left;}
.fr{float: right;}

.bold {
  font-weight:bold;
}
h2.title {
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  color: $gray;
}

.input label {
  font-weight: bold;
}

.input input, .input textarea {
  display: block;
  margin-top: 10px;
  max-width: 500px;
}

.nav-category {
  padding: 10px;
}

.new-category {
  float: right;
  margin-left: 5px;
  font-size: 14px;
}

tr.table-cate th, tr.table-order td{
  text-align: center;
}

tr.table-order th{
  text-align: center;
  font-weight: 700;
}

.mess_color {
  background-color: $white;
  padding: 10px;
  border-radius: 5px;
  width: auto;
}

.mess_dasboard{
  padding: 10px;
  border-radius: 5px;
  width: auto;
  font-size: 18px;
  text-align: center;
}

.usermenu li a.pd-gg {
  float: right;
  padding-left: 0px;
  color: $white;
}

.paginate{
  color: $slate-blue;
}

.current{
  padding: 5px 15px;
  border: 1px solid $royal-blue;
  color: $white;
  background-color: $slate-blue;
}

.paginate a, .first a, .last a, .prev a, .next a{
  padding: 5px 15px;
  border: 1px solid $royal-blue;
  color: $slate-blue;
}

.paginate a:hover, .first a:hover, .last a:hover, .prev a:hover, .next a:hover{
  color: $white;
  background-color: $slate-blue;
  border: 1px solid $slate-blue;
}

.display-category {
  margin: 30px 0;
  display: inline;
  font-size: 15px;
  color: $azure;
}

#search_category{
  margin-top: 30px;
}

.pagi_menu{
  display: grid;
  grid-template-rows: repeat(3, 20px);
  grid-gap: 10px;
  grid-auto-flow: column;
  grid-auto-columns: 300px 100px;
}

#slide-owl{
  width: 100%;
  height: 500px;
  display: flex;
  overflow-x: auto;
}

.slide{
  flex-shrink: 0;
  height: 100%;
}

.like_form{
  display: inline;
}

.like_form a{
  color: $slate-red;
}

.like_form a:hover{
  background: $slate-red;
  color: $white;
}

.like_form a.liked{
  background: $slate-red;
  color: $white;
  border: 1px solid $slate-red;
}

.like_form a.liked:hover{
  background: $white;
  color: $slate-red;
  border: 1px solid $royal-blue;
}

.option-cart .cart_no{
  position: absolute;
  top: -8px;
  right: 0px;
  width: 30px;
  font-size: 14px;
  color: $white;
  background-color: red;
  text-align: center;
  border-radius: 8px;
}

.option-cart:hover .cart_no{
  background-color: $slate-red;
}

.modal-width{
  max-width: 80px;
}

.cart-item th{
  text-align: center;
}

.quantity input{
  max-width: 80px;
}

.payment span{
  color: $red;
}

.button_to{
  display: inline;
}

.thumbnail img, .preview-small img {
  height: 220px;
  margin-top: 10px;
}

.thumb img {
  width: 40px;
  height: 45px;
}

.replies {margin-left: 50px;}

.cart-empty-title{
  font-size: 16px;
  font-weight: 700;
  color: $azure;
  margin-top: 50px;
}

.btn-cart-continue{
  background-color: $royal-red;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  color: $white;
  border-radius: 5px;
  padding: 12px 120px;
  margin-top: 20px;
  box-shadow: 0 3px 10px 3px $white;
}

.btn-cart-continue:hover{
  color: $white;
  background-color: $slate-red;
}

.btn-order-status, .export_product{
  float: right;
  margin-bottom: 20px;
}

.comment{
  font-style: italic;
  color: $snow;
}

.button-filter, .add_product{
  display: inline-block;
}

.filter_price input{
  width: 130px;
}

.add-cart {
  padding: 9px 15px;
}

.import_product{
  display: none;
}

.import_product input{
  margin-top: 20px;
}

.thumbnail_products{
  max-width: 80px;
  max-height: 80px
}

.bold th{
  text-align: center;
}

.products .oldprice {
  float: left;
  width: 100%;
  color: $azure;
  text-align: center;
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 15px;
  line-height: 0px;
  text-decoration: line-through;
}

.products-details {
  position: relative;
  width: 100%;
}

.slick-slide img{
  display: inline-block;
}

.thum-image-admin img{
  height: 50px;
}

.thum-image-dashboard img{
  height: 220px;
}

.preview_image {
  float: left;
  text-align: center;
  width: 330px;
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border: 1px solid $snow-white;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  display: block;
}

.preview-small {
  display: block;
  width: 100%;
  margin-top: 10px;
  position: relative;
}

.preview-small .zoom {
  position: absolute;
  right: 25px;
  bottom: 25px;
  z-index: 1;
  font-size: 24px;
  color: $gray;
}

.thum-image {
  position: relative;
  width: 240px;
  margin: 15px auto 5px;
}

.thum-image li {
  float: left;
  width: 57px;
  height: 57px;
  padding: 5px;
  display: inline-block;
}

.thum-image li a {
  float: left;
  width: 47px;
  height: 47px;
  padding: 3px;
  border: 1px solid #cccccc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.thum-image li a:hover {
  border-color: $slate-red;
}

.thum-image li a img {
  max-height: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.thum-image .control-left,
.thum-image .control-right {
  position: absolute;
  top: 20px;
  left: -20px;
  font-size: 20px;
  color: $gray;
}

.thum-image .control-right {
  left: auto;
  right: -20px;
}

.thum-image .control-left:hover,
.thum-image .control-right:hover,
.preview-small .zoom:hover {
  color: $slate-red;
}

.products-description {
  border: 1px solid $snow-white;
  border-radius: 10px;
  display: block;
  margin: 15px 0 15px 360px;
  padding: 20px;
  position: relative;
  overflow: hidden;
}

.products-description .name {
  font-weight: 400;
  margin-bottom: 15px;
}

.border {
  border-color: $snow-white;
}

.products-description .price {
  font-weight: 400;
  width: 100%;
  font-size: 13px;
  vertical-align: middle;
}

.products-description .price .new_price {
  font-size: 30px;
  color: $royal-red;
  font-weight: 500;
  margin-left: 30px;
}

.products-description .new_price sup {
  font-size: 18px;
}

.products-description .old_price {
  color: $azure;
  font-size: 18px;
  text-decoration: line-through;
  margin-left: 30px;
}

.products-description .old_price sup {
  font-size: 13px;
}

.wided {
  float: left;
  position: relative;
  width: 100%;
}

.products-description .qty {
  float: left;
  font-weight: 400;
  width: auto;
  font-size: 13px;
  vertical-align: middle;
}

.products-description .qty select {
  margin-left: 30px;
}

.products-description .button_group {
  float: right;
}

.single-promotion .form-group div:first-child{
  display: inline;
}

.remove_record{
  cursor: pointer;
}

.flat-image a img{
  width: auto;
  height: 400px;
}

.promotion{
  font-size: 18px;
  color: $blue;
}

.new {
  position: absolute;
  left: 15px;
  top: 15px;
  z-index: 99;
  padding: 10px;
  font-size: 18px;
  color: #fff;
  background: #f7544a;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.offer {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 99;
  padding: 10px;
  font-size: 18px;
  color: #fff;
  background: #f7544a;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.form_product .input input{
  height: 34px;
}

.form_product .input input, textarea{
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
}
.form_product .input input:focus{
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}

.form_product .input input::-moz-placeholder{
  color: #999;
  opacity: 1
}

.form_product .input input:-ms-input-placeholder{
  color: #999
}

.form_product .input input::-webkit-input-placeholder{
  color: #999
}

.form_product .input textarea:focus{
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}

.form_product .input textarea::-moz-placeholder{
  color: #999;
  opacity: 1
}

.form_product .input textarea:-ms-input-placeholder{
  color: #999
}

.form_product .input textarea::-webkit-input-placeholder{
  color: #999
}

.scrollable-menu {
  height: auto;
  max-height: 500px;
  overflow-x: hidden;
}
