@import 'colors';

body {
  font-size: 14px;
}

.mt-0{margin-top:0px;}
.mt-5{margin-top:5px;}
.mt-10{margin-top:10px;}
.mt-15{margin-top:15px;}
.mt-20{margin-top:20px;}
.mt-30{margin-top:30px;}
.mb-0{margin-bottom:0px;}
.mb-5{margin-bottom:5px;}
.mb-10{margin-bottom:10px;}
.mb-15{margin-bottom:15px;}
.mb-20{margin-bottom:20px;}
.mb-30{margin-bottom:30px;}
.mr-5{margin-right:5px;}
.mr-10{margin-right:10px;}
.mr-15{margin-right:15px;}
.mr-20{margin-right:20px;}
.mr-30{margin-right:30px;}
.ml-5{margin-left:5px;}
.ml-10{margin-left:10px;}
.ml-15{margin-left:15px;}
.ml-20{margin-left:20px;}
.ml-30{margin-left:30px;}

.bold {
  font-weight:bold;
}
h2.title {
  font-size: 60px;
  text-align: center;
  font-weight: bold;
  color: $gray;
}

.input label {
  font-weight: bold;
}

.input input, .input textarea {
  display: block;
  margin-top: 10px;
  max-width: 500px;
}

.nav-category {
  padding: 10px;
}

.new-category {
  float: right;
  margin-left: 5px;
  font-size: 14px;
}

tr.table-cate th {
  text-align: center;
}

.mess_color {
  background-color: $white;
  padding: 10px;
  border-radius: 5px;
  width: auto;
}

.usermenu li a.pd-gg {
  float: right;
  padding-left: 0px;
  color: $white;
}

.paginate{
  color: $slate-blue;
}

.current{
  padding: 5px 15px;
  border: 1px solid $royal-blue;
  color: $white;
  background-color: $slate-blue;
}

.paginate a, .first a, .last a, .prev a, .next a{
  padding: 5px 15px;
  border: 1px solid $royal-blue;
  color: $slate-blue;
}

.paginate a:hover, .first a:hover, .last a:hover, .prev a:hover, .next a:hover{
  color: $white;
  background-color: $slate-blue;
  border: 1px solid $slate-blue;
}

.display-category {
  margin: 30px 0;
  display: inline;
  font-size: 15px;
  color: $azure;
}

#search_category{
  margin-top: 30px;
}

.pagi_menu{
  display: grid;
  grid-template-rows: repeat(3, 20px);
  grid-gap: 10px;
  grid-auto-flow: column;
  grid-auto-columns: 300px 100px;
}

#slide-owl{
  width: 100%;
  height: 500px;
  display: flex;
  overflow-x: auto;
}

.slide{
  flex-shrink: 0;
  height: 100%;
}

.like_form{
  display: inline;
}

.like_form a{
  color: $slate-red;
}

.like_form a:hover{
  background: $slate-red;
  color: $white;
}

.like_form a.liked{
  background: $slate-red;
  color: $white;
  border: 1px solid $slate-red;
}

.like_form a.liked:hover{
  background: $white;
  color: $slate-red;
  border: 1px solid $royal-blue;
}

.option-cart .cart_no{
  position: absolute;
  top: -8px;
  right: 0px;
  width: 30px;
  font-size: 14px;
  color: $white;
  background-color: red;
  text-align: center;
  border-radius: 8px;
}

.option-cart:hover .cart_no{
  background-color: $slate-red;
}

.modal-width{
  max-width: 80px;
}

.cart-item th{
  text-align: center;
}

.quantity input{
  max-width: 80px;
}

.payment span{
  color: $red;
}

.button_to{
  display: inline;
}

.thumbnail img, .preview-small img {
  height: 220px;
}

.thumb img {
  width: 40px;
  height: 45px;
}

