body {
  font-size: 14px;
}

.mt-0{margin-top:0px;}
.mt-5{margin-top:5px;}
.mt-10{margin-top:10px;}
.mt-15{margin-top:15px;}
.mt-20{margin-top:20px;}
.mt-30{margin-top:30px;}
.mb-0{margin-bottom:0px;}
.mb-5{margin-bottom:5px;}
.mb-10{margin-bottom:10px;}
.mb-15{margin-bottom:15px;}
.mb-20{margin-bottom:20px;}
.mb-30{margin-bottom:30px;}
.mr-5{margin-right:5px;}
.mr-10{margin-right:10px;}
.mr-15{margin-right:15px;}
.mr-20{margin-right:20px;}
.mr-30{margin-right:30px;}
.ml-5{margin-left:5px;}
.ml-10{margin-left:10px;}
.ml-15{margin-left:15px;}
.ml-20{margin-left:20px;}
.ml-30{margin-left:30px;}

.bold {
  font-weight:bold;
}
h2.title {
  font-size: 60px;
  text-align: center;
  font-weight: bold;
  color: #bdbdbd;
}

.input label {
  font-weight: bold;
}

.input input, .input textarea {
  display: block;
  margin-top: 10px;
  max-width: 500px;
}

.nav-category {
  padding: 10px;
}

.new-category {
  float: right;
  margin-left: 5px;
  font-size: 14px;
}

tr.table-cate th {
  text-align: center;
}
