<div class="wrapper">
  <div class="clearfix"></div>
  <div class="footer">
    <div class="footer-info">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="footer-logo"><%= link_to image_tag "logo.png" %></div>
          </div>
          <div class="col-md-3 col-sm-6">
            <h4 class="title"><%= t "contact" %> <strong><%= t ".info" %></strong></h4>
            <p>Address: Hoai Duc, Hanoi , Vietnam</p>
            <p>Call Us : 0164.806.2543</p>
            <p>Email : tdtrung5893@gmail.com</p>
          </div>
          </div>
        </div> <!-- end row -->
      </div> <!-- end container -->
    </div> <!-- end footer-info -->
    <div class="copyright-info">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p>Copyright © 2018. Designed by <a href="#">Tran Duc Trung</a>. All rights reseved</p>
          </div>
          <div class="col-md-6">
            <ul class="social-icon">
              <li><a href="#" class="linkedin"></a></li>
              <li><a href="#" class="google-plus"></a></li>
              <li><a href="#" class="twitter"></a></li>
              <li><a href="#" class="facebook"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- end footer -->
</div>
